.page-main__hero {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 373px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 39px;
}

.page-main__hero-text {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.page-main__catalog-list {
  list-style: none;
}

.page-main__reviews {
  padding: 28px;
}

.page-main__fproduct {
  padding: 28px;
}

.page-main__contacts {
  padding: 28px;
}
